.post-container {
    
    max-width: 800px;
    margin: 60px 25% 10px 25%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .post-title {
    font-size: 28px;
    font-weight: bold;
    color: #202223;
    margin-bottom: 20px;
  }
  
  .post-thumbnail {
    width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .post-date,
  .post-author {
    font-size: 14px;
    color: #947b73;
    margin-bottom: 10px;
  }
  
  .post-content {
    font-size: 16px;
    color: #202223;
    line-height: 1.6;
  }
  